.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5%;

  @media screen and (min-width: $breakpoint-desktop) {
    margin: 40px 100px 49px 100px;
  }

  &__fig {
    display: flex;
    align-items: flex-start;
    margin: 0;
    width: 9rem;

    @media screen and (min-width: $breakpoint-desktop) {
      width: 13.2rem;
    }

    img {
      width: 100%;
    }
  }
}
