%flex-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
%flex-end {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
%flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
%flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
%flex-rowCenter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
%flex-rowBetween {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
%flex-rowAround {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
%flex-rowReverse {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
